MONGO_INITDB_ROOT_USERNAME=your_local_username
MONGO_INITDB_ROOT_PASSWORD=your_local_password
MONGO_DATABASE=cis_rag
MONGODB_URL=mongodb://your_local_username:your_local_password@127.0.0.1:27017/cis_rag?authSource=admin